body{
    margin:0;
    padding:0;

}

/* .first{
    width: 600px;
    height:  500px;

     margin: 20px; 
     background-color: brown;
    
} */
 .first{
     margin:50px;
 }
 img{
    width: 300px;
    height: 450px;
    margin: 20px 0px 10px 40px;
    border-radius: 200px;

     
 }
h1{
    font-weight:900;
}
 /* ul>a{
   list-style: none;
} */
.log img{
    margin-top:20px;
    width:100px;
    height: auto;
    
}
#h1{
    margin: 10px 0px 10px 30px;
    color:dodgerblue;
    
    }

